@media only screen and (min-width: var(--wristwatch)) {
  /* styles for wristwatches */
}

@media only screen and (max-width: 475px) {
  /* styles for smaller  mobile devices */
  .container{
    display: none;
  }

  .unc {
    display: flex;
    background: url(../img/bg.svg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    flex-direction: column;
    justify-content: center;
}

  .unc h1{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 3rem;
    color: var(--secondary-color);
    text-transform: uppercase;
  }
  .unc p{
    font-size: 1.37rem;
    font-weight: 200;
    padding: 3rem;
    font-family: var(--primary-font);
    color: var(--secondary-color);
  }
}

@media only screen and (max-width: 600px) {
  /* styles for mobile devices */
  nav {
    display: none;
  }

  .hero, .hero1, .hero2 {
    padding: 3rem 0;
    /* min-height: 40vh; */
  }
  .contact-form{
    flex-direction: column;
  }

  /* .hero1 h2, .mission h2, .vision h2, .team h2{
    font-size: 2rem;
  }

  .mission p , .vision p{
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
  } */

  
}

@media only screen and (max-width: 830px) {
  /* styles for tablets */

   .hero1, .hero {
    padding: 3rem 0;
    min-height: 40vh;
  }

  .hero1 h2, .hero2 h2, .mission h2, .vision h2, .team h2{
    font-size: 2rem;
  }

  .mission p , .vision p{
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
  }

  .approach {
    gap: 5rem;
  }

  .approach--txt {
    gap: 1rem;
  }

  .approach--txt_bottom p {
    line-height: 1rem;
    text-align: left;
    font-size: 1rem;
  }
  .approach--txt_top,
  .approach--txt_bottom {
    gap: 0.5rem;
  }

  .approach,
  .approach1 {
    gap: 1.5rem;
    flex-direction: column;
  }

  .testimonial--txt h2 {
    font-size: 1.5rem;
  }

  .footer .content{
    flex-direction: column;
  }

  .footer .column {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer--nav {
  padding: 2rem;
  width: 100%;
}

.footer .actions {
  width: 100%;
}

.call{
  flex-direction: column;
  align-items: center;
  padding: .05rem;
}

.call--column {
  align-items: center;
  flex-direction: row;
}

}

@media only screen and (max-width: 1024px) {
  /* styles for laptops */

  .approach--txt_bottom p {
    text-align: left;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .approach,
  .approach1 {
    gap: 1.5rem;
  }

  .hero h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
  }

  .hero h4 {
    font-size: 1.2rem;
    padding: 2rem;
  }

  .approach--txt_top h3 {
    font-size: 1.2rem;
  }

  .approach--txt_top h2 {
    font-size: 2.5rem;
  }

}
