@media only screen and (max-width: 475px) {
  /* styles for smaller  mobile devices */

  .header img {
    width: 100px;
    height: 100px;
  }

  .hero {
    min-height: 100vh;
  }

  .hero h4 {
    font-size: 0.8rem;
  }

  .cta a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .rows h2 {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .contact-form_info label {
    font-size: 0.8rem;
  }

  .contact-form_info {
    gap: 0.8rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .call--column h5 {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .cta {
    flex-direction: column;
    align-items: center;
  }

  .btn,
  .btn1 {
    font-size: 0.87rem;
  }

  .approach--txt_top h2 {
    font-size: 1.5rem;
  }

  .approach--txt_top h3 {
    font-size: 0.8rem;
  }

  .approach--txt_bottom p {
    font-size: 0.8rem;
    line-height: 1.75rem;
  }

  .testimonial--txt h3 {
    font-size: 1rem;
  }

  .testimonial--txt h4 {
    font-size: 0.5rem;
  }

  .testimonial--item h2 {
    font-size: 0.87rem;
    font-weight: 300;
  }

  .footer--nav1 ul li a {
    font-size: 0.6rem;
  }

  .project--item_detail h2 {
    font-size: 1.3rem;
  }

  .project--item_detail h3 {
    font-size: 1rem;
  }

  .hero1 h2 {
    font-size: 1rem;
  }

  .hero1 h4 {
    font-size: 0.62rem;
    padding: 0.6rem;
    line-height: 1rem;
  }

  .mission h2,
  .vision h2 {
    font-size: 1rem;
    text-align: none;
  }

  .mission,
  .vision {
    align-items: flex-start;
    padding: 1.5rem 0;
    gap: 0.8rem;
  }

  .vision {
    align-items: flex-start;
    padding: 1.5rem 0;
    gap: 0.8rem;
  }

  .mission p,
  .vision p {
    text-align: justify;
    font-size: 0.7rem;
  }

  .team {
    padding: 0;
  }

  .hero2 h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  /* styles for mobile devices */
  nav {
    display: none;
  }

  .team-mates {
    flex-direction: column;
  }

  .project--row {
    flex-direction: column;
    padding: 0.7rem 0;
  }

  .hero,
  .hero1,
  .hero2 {
    padding: 3rem 0;
    /* min-height: 40vh; */
  }
  .contact-form {
    flex-direction: column;
  }

  /* .hero1 h2, .mission h2, .vision h2, .team h2{
    font-size: 2rem;
  }

  .mission p , .vision p{
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
  } */
}

@media only screen and (max-width: 875px) {
  /* styles for tablets */

  .rows {
    flex-direction: column;
    align-items: center;
  }

  .hero1,
  .hero {
    padding: 3rem 0;
  }

  .hero h2{
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .team h2 {
    font-size: 2rem;
  }

  .approach {
    gap: 5rem;
  }

  .approach--txt {
    gap: 1rem;
  }

  .approach--txt_top,
  .approach--txt_bottom {
    gap: 0.5rem;
  }

  .approach,
  .approach1 {
    gap: 1.5rem;
    flex-direction: column-reverse;
  }

  .testimonial--txt h2 {
    font-size: 1.3rem;
  }

  .footer {
    padding: 1rem;
  }
  .footer .content {
    flex-direction: column;
  }

  .footer .column {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer--nav {
    display: none;
  }

  .footer .form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.2rem;
  }

  .footer .actions {
    width: 100%;
  }

  .footer .actions h2 {
    display: none;
  }

  .btn_cta {
    justify-content: center;
    align-items: center;
    padding: 0.67rem 1.33rem;
    gap: 0.45rem;
    border: 0.056rem solid #f9fafc;
    border-radius: 0.5rem;
  }

  .form input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.6667px;
    width: 63%;
    height: 42.67px;
    background: #ffffff;
    border: 0.888889px solid #f9fafc;
    border-radius: 8px;
  }

  .call {
    flex-direction: column;
    align-items: center;
    padding: 0.05rem;
  }

  .call--column {
    align-items: center;
    flex-direction: row;
  }

  .footer .social--links {
    justify-content: flex-end;
  }


}
