:root{
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --other-font:  'Poppins', sans-serif;
    --noto-font:  'Noto Sans', sans-serif;
    --primary-color: #E97001;
    --secondary-color: #FFFFFF;
    --bg-color:  #000000;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background:var(--bg-color);
    /* border: 1px solid red; */
}

.container{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
}

.header img{
    height: 150px;
    width: 200px;
    object-fit: contain;
}

/* Nav */

nav{
    padding: 20px;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.2rem;
    color: #EDEFF5;
    text-decoration: none;
}

/* Hero */

.hero{
    padding: 6rem;
    
}

.hero h2{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3rem;
    text-align: center;
    color: var(--secondary-color);
}

.hero h4{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 3rem;
    color: var(--secondary-color);
}

.cta{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.cta a{
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.22rem;
    width: 14.73rem;
    height: 3.89rem;
    background: var(--primary-color);
    border-radius:0.61rem;
    border: none;
    font-size: 1.37rem;
    font-weight: 600;
    font-family: var(--noto-font);
    color: var(--secondary-color);
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.22rem;
    width: 14.73rem;
    height: 3.89rem;
    border-radius:0.61rem;
    border: 1px solid var(--primary-color);
    font-family: var(--noto-font);
    font-weight: 600;
    font-size: 1.37rem;
    color: var(--primary-color);
}

/* Approach */

.approach{
    display: flex;
    align-items: center;
    gap: 9.6rem;
}

.approach1{
    display: flex;
    flex-direction:row-reverse ;
    align-items: center;
    gap: 9.6rem;
}

.approach--txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.approach--txt_top, .approach--txt_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5rem;
}

.approach--txt_top h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.approach--txt_top h2{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size:3.5rem;
    color: var(--primary-color);
}

.approach--txt_bottom p{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    color: var(--secondary-color);
}

.approach img{
    width: 490px;
    height: 413px;
}